:root{
    --tittle-color--:#343434;
    --pragraph-main-color--:#748182;
    --main-color--:#222222;
    --pargraph-secondary-color:#888888;
    --tittle-font--:'Montserrat', sans-serif;
    --main-font--: 'Poppins', sans-serif;
}
.tittle-color{
    color: var(--tittle-color--);
}
.pragraph-main-color{
    color: var(--pragraph-main-color--);
}
.main-color{
    color: var(--main-color--);
}
.pargraph-secondary-color{
    color: var(--pargraph-secondary-color);
}
.tittle-font{
    font-family: var(--tittle-font--);
}
.main-font{
    font-family: var(--main-font--);
}
.main-color-background{
    background-color: var(--main-color--);
}
.bg-beeg{
    background-color: #f4f4f4;
}

.section-tittle h3{
    font-size: 2.5rem;
    color: var(--tittle-color--);
    font-family: var(--tittle-font--);
    font-weight: 900;
    position: relative;
}
.section-tittle h3::before{
    content: '';
    width: 12rem;
    height: 50%;
    background-image: url(../imgs/dots.png);
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* navbar-style */
nav .container a{
    font-size: 1.125rem;
}
nav .container .nav-link{
    color: var(--main-color--) !important;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--main-font--);
    padding: 0px 3rem 0px 0px !important;
}
nav ul li .active{
    position: relative;
}
nav ul li .active::after{
    content: '';
    width: 2.7rem;
    height: 0.1rem;
    background-color: var(--main-color--);
    position: absolute;
    bottom: 0;
    left: 0%;
    
}
/* header-style */
header{
    background-image: url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
}
.layer{
    background-color: rgba(0, 0, 0, 0.6);
}
header h5{
    font-size: 3.125rem;
}
header h1{
    font-size: 3.75rem;
}
.icon{
    width: 2.2rem;
    height: 2.2rem;
}
header ul li{
    margin: 0rem 0.2rem 0rem 0rem;
}
/* about-section-style */

#About .container .row .about-info-container h3{
    font-size: 1.875rem;
    margin-bottom: .3125rem;
}
#About .container .row .about-info-container p:first-of-type{
    color: #999999;
    font-size: .875rem;
    margin-bottom: 1.25rem;
}
#About .container .row .about-info-container p:nth-of-type(2){
    font-size: .9375rem;
    margin: 0%;
}
#About .scale-bar .progress {
    height: 1.5rem;
}
#About .scale-bar.web-design-bar .progress-bar{
    width: 95%;  
}
#About .scale-bar .progress-bar h6{
    font-size: .8125rem;
    margin: 0%;
    padding: 0;
}
#About .scale-bar .progress-bar span{
    font-size: .73rem;
}
#About .scale-bar.branding-bar .progress-bar{
    width: 80%;  
}
#About .scale-bar.devolpment-bar .progress-bar{
    width: 90%;
}
#About .about-btns button:nth-of-type(1) , #Contact .about-btns button:nth-of-type(1){
    background-color:black;
    color: white;
    font-size: .8125rem;
    padding: 8px 35px;

}
#About .about-btns button:nth-of-type(1):hover , #Contact .about-btns button:nth-of-type(1):hover{
    background-color:transparent;
    color: black;
}
#About .about-btns button:nth-of-type(2){
    background-color:transparent;
    color: black;
    font-size: .8125rem;
    padding: 8px 35px;

}
#About .about-btns button:nth-of-type(2):hover{
    background-color:black;
    color: white;
}
#About figure.about-img{
   position: relative;
}
#About figure.about-img::after{
    content: '';
    width: 80%;
    height: 80%;
    background-image: url(../imgs/dots.png);
    position: absolute;
    top: 17%;
    left: 4%; 
}
/* Services-section-style */
#Services .card .card-body h5{
    font-size: 1.25rem;
    font-family: var(--main-font--);
    color: var(--tittle-color--);
}
#Services .card .card-body p{
    font-size: .875rem;
    font-family: var(--main-font--);
    color: var(--pragraph-main-color--);
    max-width: 18.75rem;
}
#Services .card .card-body .serv-icon{
    width: 4rem;
    height: 4rem;
    color: black;
    background-color:#f4f4f4;
    transition: all 1s;
}
#Services .card:hover .serv-icon{
    background-color: black;
    color: #f4f4f4;
}
/* works-section-style */
#works ul li button.nav-link{
    background-color: transparent;
    color: var(--main-color--);
    font-weight: bold;
}
.work-icon{
    width: 1.7rem;
    height: 1.7rem;
    background-color: black;
    color: white;
}
.work-layer h6{
    font-family: var(--tittle-font--);
    color: var(--tittle-color--);
    font-size: .75rem;
    font-weight: bold;
}
.work-layer{
   width: 97%;
   height: 97%;
   position: absolute;
   top: 11.5%;
   left: 1.5%;
   opacity: 0;
   transition: all 0.5s;

}
.work-container figure:hover .work-layer{
   opacity: 100%;
   transform: translateY(-10%);
}

/* Clients-section-style */

#Clients .section-tittle h3::before{
    content: '';
    width: 18rem;
    height: 50%;
    background-image: url(../imgs/dots.png);
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}
.carousel-item img{
    width: 6rem;
    height: 6rem;
}
.carousel-item p{
   color: var(--pragraph-main-color--);
   font-size: .9375rem;
   font-family: var(--main-font--);
   max-width: 58rem
}
.carousel-item span{
    color: #888888;
    font-family: var(--main-font--);
    font-size: .75rem;
    font-weight: bold;
}

.carousel-indicators [data-bs-target]{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    margin-right: 1rem;
    background-color: #888888;
}
/* break-section-style */
#break .break-container h3{
    font-weight: 900;
    font-size: 1.875rem;
}
#break .break-container p{
    color: var(--pragraph-main-color--);
    font-weight: 700;
    font-size: .9375rem;
}
/* Team-section-style */
#Team .section-tittle h3::before ,#Contact .section-tittle h3::before{
    content: '';
    width: 14rem;
    height: 50%;
    background-image: url(../imgs/dots.png);
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}
#Team .card .card-body{
    background-color:rgba(52, 52, 52,.8) ;
    font-family: var(--tittle-font--);
}
#Team .card .card-body h4{
    font-size: 1.5625rem;
}
#Team .card .card-body h5{
    font-size: 1.25rem;
    font-weight: 800;
}
#Team .team-img-layer ul li{
    background-color: black;
    color: white;
    transition: all 0.5s;
    
}
#Team .team-img-layer ul li:hover{
    background-color: white;
    color: black;
}
.team-img-layer{
    width: 98%;
    height: 98%;
    background-color: white;
    position: absolute;
    top: 1%;
    left: 1%;
    opacity: 0;
    transition: all 1s;
    
}
.team-img img{
    transition: all 0.5s;
}

#Team .card .team-img:hover .team-img-layer{
    opacity: 100%;
    transform: rotateY(360deg);

}
#Team .card .team-img:hover img{
    transform: scale(1.2);

}
/* Contact-section-style */
.contact-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f4f4f4;
    transition: all 0.5s;
}
.contact-container h6{
    font-size: 1rem;
    color: var(--tittle-color--);
    font-family: var(--tittle-font--);
    font-weight: 700;
}
.contact-container p , a{
    font-size: .9375rem;
    color: var(--pragraph-main-color--);
    font-family: var(--main-font--);
    font-weight: normal;
}
.contact-container:hover .contact-icon{
    background-color: black;
    color: white;
}
/* footer-style */
footer p{
    font-size: .8125rem;
    color: var(--pragraph-main-color--);
    font-family: var(--main-font--);
}






